.headerdiv{
    width:88vw;
    /* background-color:red; */
      background-color:#050a19;
    color: aliceblue;
    /* padding: 10px; */
    height: 12vh;
    margin-top: -16px;
    display: flex;
    align-items: end;
  }



 .logo {
  height: 10vh;
  width: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}
